*, body {
    margin: auto;
}

.navi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navi_list {
    text-align: center;
    width: 25%;
    height: 5vh;
}

.content {
    width: 80%;
}

.content_list {
    width: 100%;
    height:5vh;
    display: flex;
    flex-direction: row;
}

.image_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.image_box {
    width: 80%;
}

.content_id {
    width: 30%;
    text-align: center;
}

.content_title {
    width: 70%;
    text-align: center;
}

.context_name {
    width: 100%;
    height: 5vh;
    display:flex;
    flex-direction: row;
}

.context_edit {
    width: 100%;
    height: 70vh;
}

.context_save {
    width: 100%;
    height: 10vh;
    vertical-align: center;
}

.context_save button {
    width: 200px;
}