<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quill Editor</title>
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
    <link href="../static/css/index.css" rel="stylesheet" />
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
</head>
<body>
    <div class="context_name">
        <span>글 제목</span>
        <input type="text" />
    </div>
    <div id="editor" class="context_edit"></div>

    <script>
        function quilljsediterInit() {
            var option = {
                modules: {
                    toolbar : [
                        [{header: [1,2,false]}],
                        ['bold','italic','underline'],
                        ['image','code-block'],
                        [{list: 'orderred'}, {list: 'bullet'}]
                    ]
                },
                placeholder: 'input context',
                theme: 'snow'
            };

            quill = new Quill('#editor', option);
        }
        quilljsediterInit();
    </script>
</body>
</html>