<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contents List</title>
    <link href="/css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="navi">
        <div class="navi_list"><a href="/">Home</a></div>
        <div class="navi_list"><a href="/write">Write</a></div>
    </div>
    <div class="content">
        <div class="content_list">
            <div class="content_id">No</div>
            <div class="content_title">Title</div>
        </div>
        {{#contextList}}
        <div class="content_list">
            <div class="content_id">{{id}}</div>
            <div class="content_title">
                <a href="/update/{{id}}">{{title}}</a>
            </div>
        </div>
        {{/contextList}}
    </div>
</body>
</html>