<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quill Editor</title>
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
    <div class="navi">
        <div class="navi_list"><a href="/">Home</a></div>
        <div class="navi_list"><a href="/write">Write</a></div>
    </div>
    {{#updateContext}}
    <form id="context_form" action="/content/{{id}}/save" method="POST">
        <div class="context_name">
            <div>글 제목</div>
            <div>
                <input name="title" type="text" value="{{title}}" style="width: 70vw;"/>
            </div>
        </div><br />
        <div id="editor" class="context_edit"></div>
        <input type="hidden" id="quill_html" name="content" />
        <div class="context_save">
            <button type="button" onclick="isImgSave();">Update</button>
        </div>
    </form>
    {{/updateContext}}
    <script>
        let imgStr = '';

        {{#updateContext}}
        function isImgSave() {
            let content_img = document.querySelector('#editor').getElementsByTagName("img");
            let imgLength = content_img.length;

            for(let i=0; i < imgLength; i++) {
                let temp = content_img[i].getAttribute("src");
                let arr = temp.split("/");

                if(i === 0) imgStr += arr[3];
                else imgStr += ',' + arr[3];
                console.log(imgStr);
            }

            $.ajax({
                type: 'post',
                url: '/isImgSave/{{id}}',
                data: {
                    imgStr: imgStr,
                },
                dataType: 'text',
                success: function (res) {
                    console.log("-----------success---------");
                    console.log(res);
                    document.getElementById("context_form").submit();
                },
                error: function (err) {
                    console.log("-----------error-----------");
                    console.log(err);
                }
            });
        }
        {{/updateContext}}
        function quilljsediterInit() {
            var option = {
                modules: {
                    imageResize: {
                        displaySize: true
                    },
                    toolbar : [
                        [{header: [1,2,false]}],
                        ['bold','italic','underline'],
                        ['image','code-block'],
                        [{'align': []}],
                        [{list: 'orderred'}, {list: 'bullet'}],
                        ['clean']
                    ]
                },
                placeholder: 'input context',
                theme: 'snow'
            };

            quill = new Quill('#editor', option);
            {{#updateContext}}
            let text = `{{{content}}}`;
            quill.root.innerHTML = text;
            {{/updateContext}}
            quill.on('text-change', function() {
                document.getElementById("quill_html").value = quill.root.innerHTML;
            });

            quill.getModule('toolbar').addHandler('image', function() {
                selectLocalImage();
            });
        }

        // 이미지 콜백 함수
        {{#updateContext}}
        function selectLocalImage() {
            const fileInput = document.createElement('input');
            fileInput.setAttribute('type', 'file');
            console.log("input.type" + fileInput.type);

            fileInput.click();

            fileInput.addEventListener("change", function () {
                const formData = new FormData();
                const file = fileInput.files[0];
                formData.append('uploadFile', file);

                $.ajax({
                    type: 'post',
                    enctype: 'multipart/form-data',
                    url: '/imageUpload/{{id}}',
                    data: formData,
                    dataType: 'text',
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log("----------success-----------");
                        console.log(data);
                        const range = quill.getSelection();
                        data = data.replace(/\\/g, '/');
                        quill.insertEmbed(range.index, 'image', "/display?filePath=" + data);
                    },
                    error: function (err) {
                        console.log("-----------error-----------");
                        console.log(err);
                    }
                });
            });
        }
        {{/updateContext}}

        quilljsediterInit();

    </script>
</body>
</html>